.homepage-main {
  background-image: url('../src/images/image-4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-login {
  color: black;
  background-color: transparent;
}

.header-signup {
  color: black;
  background-color: transparent;
}

.header-logo {
  font-family: inherit;
  font-size: 2rem;
}

.homepage-center {
  font-family: inherit;
  text-align: center;
  font-size: 32px;
  padding-bottom: 372px;
}

.header-main {
  max-width: inherit;
  padding-bottom: 220px;
}

