.user-element {
  position: absolute;
  top: 0;
  right: 0;
  margin: 18px 24px 0 0; /* Add margin or padding as needed */
}

.main {
  display: flex;
  overflow-x: hidden;
  line-break: anywhere;
}

.content-align {
  padding: 5rem 1rem 0rem 2rem;
}